{% extends "base.html" %}

{% block title %}
Instruments
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <div>
        <h2 class="mb-0">
            Instruments ({{ instrument_count }})
        </h2>

        <small class="text-muted">
            Manage laboratory instruments
        </small>
    </div>

</div>

<div class="d-flex flex-wrap gap-2 py-2">
    <a href="{% url 'instrument_create' %}" class="btn btn-success">
        + Add Instrument
    </a>
</div>

<div class="card shadow-sm">

    <div class="card-body">

        <!-- Search (UI only for now) -->

        <div class="mb-3">

            <form method="get" class="row g-2 mb-3">

                <div class="col-md-6">
                    <input
                        type="text"
                        name="search"
                        class="form-control"
                        placeholder="Search..."
                        value="{{ search }}">
                </div>

                <div class="col-md-3">

                    <select name="category" class="form-select">

                        <option value="">All Categories</option>

                        {% for value, label in categories %}

                            <option value="{{ value }}"
                                {% if category == value %}
                                    selected
                                {% endif %}
                            >
                                {{ label }}
                            </option>

                        {% endfor %}

                    </select>

                </div>

                <div class="col-md-3 d-grid gap-2 d-md-flex">

                    <button class="btn btn-primary">
                        Search
                    </button>

                    <a href="{% url 'instrument_list' %}"
                    class="btn btn-outline-secondary">
                        Clear
                    </a>

                </div>

            </form>

        </div>

        <table class="table table-hover align-middle">

            <thead>

                <tr>
                    <th>Name</th>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>Category</th>
                    <th>Interface</th>
                    <th>Status</th>
                    <th class="text-end">Actions</th>
                </tr>

            </thead>

            <tbody>

            {% for i in instruments %}

                <tr>

                    <td>

                        <a href="{% url 'instrument_detail' i.id %}"
                           class="text-decoration-none fw-semibold">

                            {{ i.name }}

                        </a>

                    </td>

                    <td>{{ i.manufacturer }}</td>

                    <td>{{ i.model }}</td>

                    <td>{{ i.get_category_display }}</td>

                    <td>{{ i.get_interface_display }}</td>

                    <td>

                        <span class="badge bg-{{ i.status_badge }}">
                            {{ i.get_status_display }}
                        </span>

                    </td>

                    <td class="text-end">

                        <a href="{% url 'instrument_detail' i.id %}"
                           class="btn btn-sm btn-outline-primary">
                            View
                        </a>

                        <a href="{% url 'instrument_edit' i.id %}"
                           class="btn btn-sm btn-outline-warning">
                            Edit
                        </a>

                        <a href="{% url 'instrument_delete' i.id %}"
                           class="btn btn-sm btn-outline-danger">
                            Delete
                        </a>

                    </td>

                </tr>

            {% empty %}

                <tr>

                    <td colspan="7"
                        class="text-center text-muted">

                        No instruments found.

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>

<select name="status" class="form-select">

    <option value="">All Status</option>

    {% for value, label in statuses %}

        <option value="{{ value }}"
            {% if status == value %}
                selected
            {% endif %}>
            {{ label }}
        </option>

    {% endfor %}

</select>

{% endblock %}